.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  
  padding: 10px 10px;
  box-shadow: 0 1px 8px #ddd;
}

.nav-icon{
  margin:20px
}




